/* Styles par défaut pour les écrans de bureau */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Styles pour les écrans tablettes et mobiles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .feature {
        width: 90%; 
        margin: 10px 0; 
    }

    #palmares h2 {
        font-size: 2em; 
    }

    .palmares-table {
        font-size: 0.9em; 
    }

    .palmares-table th, .palmares-table td {
        padding: 8px; 
    }

    img {
        max-width: 100%; 
        height: auto; 
    }
}

/* Styles pour les écrans mobiles */
@media (max-width: 480px) {
    header nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    .hero-text h1 {
        font-size: 2.5em; 
    }

    .cta-button {
        font-size: 1em; 
    }

    img {
        max-width: 100%; 
        height: auto; 
    }
}

/* Style de base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: red;
    color: white;
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 5;
    position: fixed;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    color: yellow;
    transform: scale(1.1);
}

.logo img {
    height: 60px;
}

/* Section Hero */
#hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 4em;
}

.cta-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: white;
}

/* Section à propos */
#about {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Section avec 3 colonnes */
#features {
    background-color: darkred;
    padding: 50px 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    color: white;
    width: 30%;
    background-color: red;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.feature img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.details-button {
    background-color: yellow;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.details-button:hover {
    background-color: white;
}

/*Tableau*/
#palmares h2 {
    text-align: center;
    margin-bottom: 20px;
}

.palmares-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.1em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
    text-align: left;
    background-color: #f2f2f2;
}

.palmares-table thead {
    background-color: #333;
    color: #fff;
}

.palmares-table th, .palmares-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.palmares-table tr {
    border-bottom: 1px solid #ddd;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    transition: color 0.3s ease;
}

footer nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: teal;
    left: 0;
    bottom: -5px; /* Décale légèrement sous le texte */
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
}

footer nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

footer nav ul li a:hover {
    color: teal;
}


.socials img {
    height: 30px;
    margin: 0 10px;
}